.back {
    color: #333;
    background-color: rgb(212, 203, 203);
    border-color: #eee;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    border-bottom-color: white;
    border-style: none;
  }
  .back:hover {
    color: white;
    background-color: #42545C;
  }

  .save {
    color: #333;
    background-color: rgb(212, 203, 203);
    border-color: #eee;
    margin-top: 8px;
    margin-bottom: 12px;
    margin-left: 10px;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.9rem;
    border-bottom-color: white;
    border-style: none;
  }
  .save:hover {
    color: white;
    background-color: #42545C;
  }